.contents {
  display: flex;
  flex-direction: column;
  margin-left: 1.6rem;
}

.big_title,
.small_title {
  font-weight: 300;
}

.big_title {
  font-size: 3.4rem;
}

.small_title {
  margin: 0.3rem 0 1.4rem 0;
}
