.GitHubAuth {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;

  &-Header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

    &-Button {
      display: flex;
      position: absolute;
      top: 0.4rem;
      left: 1.4rem;
      cursor: pointer;

      &-Before {
        width: 0.7rem;
        margin-right: 0.3rem;
      }

      &-Text {
        font-size: 1.1rem;
      }
    }

    &-Title {
      font-size: 1.2rem;
    }
  }

  &-Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    padding-bottom: 1.6rem;

    &-TextField {
      display: flex;
      flex-direction: column;
    }

    &-Button {
      position: absolute;
      bottom: 0;
      width: 100%;
    }

    &-Text {
      font-weight: 400;
      font-size: 0.7rem;
      margin-top: 0.4rem;
      color: #757b81;
    }

    &-Title {
      font-weight: 400;
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }
  }
}
