.GitHubAuth {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}

.GitHubAuth-Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.GitHubAuth-Header-Button {
  display: flex;
  position: absolute;
  top: 0.4rem;
  left: 1.4rem;
  cursor: pointer;
}

.GitHubAuth-Header-Button-Before {
  width: 0.7rem;
  margin-right: 0.3rem;
}

.GitHubAuth-Header-Button-Text {
  font-size: 1.1rem;
}

.GitHubAuth-Header-Title {
  font-size: 1.2rem;
}

.GitHubAuth-Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75vh;
  padding-bottom: 1.6rem;
}

.GitHubAuth-Login-TextField {
  display: flex;
  flex-direction: column;
}

.GitHubAuth-Login-Button {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.GitHubAuth-Login-Text {
  font-weight: 400;
  font-size: 0.7rem;
  margin-top: 0.4rem;
  color: #757b81;
}

.GitHubAuth-Login-Title {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
