.contents {
  display: flex;
  flex-direction: column;
  margin-left: 1.6rem;
}

.button {
  text-decoration: none;
}

.big_title,
.small_title {
  font-weight: 300;
}

.big_title {
  font-size: 2.2rem;
}

.small_title {
  margin: 0.3rem 0 2.2rem 0;
}
