.ShowToday {
  width: 50vh;
  height: 26vh;
  background-color: #191b1d;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1.5rem;
  margin-top: 2rem;
  box-shadow: 0 3rem 3.7rem -0.9rem rgba(0, 0, 0, 0.4);

  &-Header {
    display: flex;
    align-items: center;

    &-Icon {
      display: flex;
      justify-content: center;
      align-items: center;

      & > img {
        width: 2.2rem;
      }

      & > p {
        position: absolute;
        margin-top: 0.5rem;
        font-size: 0.8rem;
        color: #ffffff;
      }
    }

    &-Text {
      display: flex;
      flex-direction: column;
      margin-left: 0.8rem;

      &-Title {
        color: #ffffff;
        font-size: 0.7rem;
        font-weight: 200;
        letter-spacing: 0.8px;
      }

      &-Subtitle {
        color: #ffffff;
        font-size: 0.9rem;
        font-weight: 400;
      }
    }

    &-Content {
      width: 100%;
      height: 70%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &-State {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.1rem;

        &-Count {
          font-size: 1.7rem;
          font-weight: 500;
          color: #ffffff;
        }

        &-Change {
          width: 2rem;
          height: 1.2rem;
          border-radius: 0.4rem;
          background-color: white;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin: 0.2rem 0 0 0.4rem;

          & > img {
            width: 0.5rem;
            margin-right: 0.1rem;
          }

          & > p {
            font-size: 0.8rem;
            color: #191b1d;
          }
        }
      }

      &-ProgressBar {
        width: 100%;
        height: 0.5rem;
        border-radius: 2rem;
        background-color: #484a4d;
        margin-top: 0.5rem;
      }

      &-Message {
        color: #ffffff;
        font-weight: 200;
        font-size: 0.9rem;
        margin-top: 0.4rem;
      }
    }
  }
}
