.header_main {
  width: 100%;
  height: 3.6rem;
  display: flex;
  align-items: center;
  background-color: #24292e;
  border-bottom: 1.6px solid;
  border-color: #000000;
}

.header_user {
  display: flex;
  width: 15rem;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  margin-left: 0.8rem;
  border-right: 1.6px solid;
  border-color: #000000;
}

.header_profile {
  display: flex;
  align-items: center;
}

.header_avatar {
  border-radius: 20rem;
  width: 2rem;
  margin-right: 0.6rem;
}

.header_name,
.header_bio {
  color: #ffffff;
}

.header_name {
  font-size: 0.8rem;
  font-weight: 400;
}

.header_bio {
  font-size: 0.7rem;
  font-weight: 100;
}

.logout_area {
  display: flex;
  align-items: center;
}

.header_logout {
  width: 1rem;
  margin: 0.2rem 0.6rem 0 0;
}

.loading_profile {
  display: flex;
  align-items: center;
}

.loading_image {
  border-radius: 20rem;
  width: 2rem;
  height: 2rem;
  background-color: #494f54;
  margin-right: 0.6rem;
}

.loading_name {
  width: 5rem;
  height: 0.7rem;
  margin-bottom: 0.3rem;
  background-color: #494f54;
}

.loading_bio {
  width: 7rem;
  height: 0.5rem;
  background-color: #494f54;
}
