.MainArea {
  width: 100%;
  height: 100vh;
  display: flex;

  &-Container {
    width: 100vh;
    height: 91.4vh;
    margin-left: 4vh;
    background-color: #f5f5f5;
    border-radius: 2.6rem;
    padding: 0 1.8rem 0 1.8rem;

    &-Header {
      width: 100%;
      height: 17vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.4rem 0.6rem 0 0.6rem;

      &-Text {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;

        &-Title {
          font-size: 2rem;
          font-weight: 700;
          color: #191b1d;
          margin-bottom: 0.1rem;
        }

        &-Subtitle {
          font-size: 0.8rem;
          font-weight: 500;
          color: #bbbdbf;
        }
      }

      &-Button {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        &-Icon {
          width: 1.4rem;
        }

        &-Info {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 1.8rem;
          height: 1.8rem;
          border-radius: 100%;
          background-color: #a9bede;
          margin-left: 1rem;

          & > h3 {
            color: white;
          }
        }
      }
    }
  }

  &-Side {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;

    &-Profile {
      &-Header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        &-Image {
          width: 3.6rem;
          height: 3.6rem;
          border-radius: 50%;
        }

        &-Button {
          display: flex;
          justify-content: center;
          align-items: center;

          &-Image {
            width: 1.4rem;
            cursor: pointer;
          }
        }
      }

      &-Info {
        &-Name {
          font-size: 1.2rem;
          font-weight: 700;
          margin-bottom: 0.4rem;
        }

        &-Bio {
          font-size: 0.9rem;
          color: #909191;
        }
      }
    }
  }
}
