.MainArea {
  width: 100%;
  height: 100vh;
  display: flex;
}

.MainArea-Container {
  width: 100vh;
  height: 91.4vh;
  margin-left: 4vh;
  background-color: #f5f5f5;
  border-radius: 2.6rem;
  padding: 0 1.8rem 0 1.8rem;
}

.MainArea-Container-Header {
  width: 100%;
  height: 17vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 0.6rem 0 0.6rem;
}

.MainArea-Container-Header-Text {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.MainArea-Container-Header-Text-Title {
  font-size: 2rem;
  font-weight: 700;
  color: #191b1d;
  margin-bottom: 0.1rem;
}

.MainArea-Container-Header-Text-Subtitle {
  font-size: 0.8rem;
  font-weight: 500;
  color: #bbbdbf;
}

.MainArea-Container-Header-Button {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.MainArea-Container-Header-Button-Icon {
  width: 1.4rem;
}

.MainArea-Container-Header-Button-Info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 100%;
  background-color: #a9bede;
  margin-left: 1rem;
}

.MainArea-Container-Header-Button-Info > h3 {
  color: white;
}

.MainArea-Side {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2rem;
}

.MainArea-Side-Profile-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.MainArea-Side-Profile-Header-Image {
  width: 3.6rem;
  height: 3.6rem;
  border-radius: 50%;
}

.MainArea-Side-Profile-Header-Button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.MainArea-Side-Profile-Header-Button-Image {
  width: 1.4rem;
  cursor: pointer;
}

.MainArea-Side-Profile-Info-Name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.4rem;
}

.MainArea-Side-Profile-Info-Bio {
  font-size: 0.9rem;
  color: #909191;
}
