.ShowTotal {
  width: 45vh;
  height: 31vh;
  background-color: #ffffff;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  margin-left: 1.6rem;

  &-Header {
    display: flex;
    align-items: center;

    & > img {
      width: 1.6rem;
      margin-right: 0.3rem;
    }

    &-Title {
      color: #191b1d;
      font-size: 1rem;
      font-weight: 500;
    }

    &-ProgressBar {
      width: 100%;
      height: 22vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0.8rem;

      &-Text {
        font-size: 0.8rem;
        color: #909191;
        font-weight: 400;
        margin-top: 0.8rem;
      }
    }
  }
}
