.ShowTotal {
  width: 45vh;
  height: 34vh;
  background-color: #ffffff;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1.5rem;
  /* 위 오른쪽 아래 왼쪽 */
  margin: 0 0 2rem 1.6rem;
}

.ShowTotal-Header {
  display: flex;
  align-items: center;
}

.ShowTotal-Header > img {
  width: 1.6rem;
  margin-right: 0.3rem;
}

.ShowTotal-Header-Title {
  color: #191b1d;
  font-size: 1rem;
  font-weight: 500;
}

.ShowTotal-Header-ProgressBar {
  width: 100%;
  height: 22vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.ShowTotal-Header-ProgressBar-Text {
  font-size: 0.8rem;
  color: #909191;
  font-weight: 400;
  margin-top: 0.6rem;
}
