.ShowTotal {
  width: 45vh;
  height: 34vh;
  background-color: #ffffff;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  padding: 1.2rem 1.5rem;
  /* 위 오른쪽 아래 왼쪽 */
  margin: 0 0 2rem 1.6rem;
}
