* {
  margin: 0;
  padding: 0;
}

.register {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.background {
  height: 100vh;
}

.background img {
  height: 100vh;
  width: auto;
}
