.Register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}

.Register-Text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2.6rem;
}

.Register-Text-Title {
  font-weight: 400;
  font-size: 2.6rem;
}

.Register-Text-Subtitle {
  font-weight: 300;
  font-size: 1.3rem;
}

.Register-GitHub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Register-GitHub-Link {
  text-decoration: none;
}

.Register-GitHub-Icon {
  width: 1.3rem;
  margin-right: 0.6rem;
}

.Register-GitHub-Text {
  font-weight: 400;
  font-size: 0.7rem;
  margin-top: 1rem;
  color: #757b81;
}
