.week_area {
  display: flex;
  justify-content: space-between;
}

.week_container,
.week_container2 {
  border: 1px solid;
  border-radius: 1rem;
  border-color: #eeeeee;
  width: 60%;
  height: 10rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.week_container {
  margin: 1rem 0.6rem 0 1.2rem;
}

.week_container2 {
  margin: 1rem 1.2rem 0 0.6rem;
}

.week_title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #24292e;
}

.week_commit {
  font-size: 1.6rem;
  font-weight: 400;
  margin-right: 0.4rem;
  margin-top: 0.3rem;
  color: #24292e;
}

.week_count {
  font-size: 2rem;
  font-weight: 700;
  color: #24292e;
}

.week_no_commit {
  font-size: 2rem;
  font-weight: 700;
  color: #24292e;
}

.week_unit {
  font-size: 1.6rem;
  font-weight: 400;
  margin-top: 0.3rem;
  color: #24292e;
}

.chart_icon {
  width: 1.8rem;
  margin: 0.6rem 0.3rem 0 0;
}

.detach_line {
  border-left: 1px solid;
  border-color: #eeeeee;
  width: 0;
  height: 6rem;
}
