.ShowWeek {
  width: 52vh;
  height: 36vh;
  background-color: #ffffff;
  border-radius: 1.6rem;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem;
  position: absolute;
  z-index: 10;
  margin-top: 1.2rem;
  /* margin: 0 0 2rem 1.6rem; */

  &-Header {
    display: flex;
    align-items: center;

    & > img {
      width: 1.6rem;
      margin-right: 0.3rem;
    }

    &-Title {
      color: #191b1d;
      font-size: 1rem;
      font-weight: 500;
    }
  }

  &-Chart {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 0 0.4rem 0 0.4rem;

    &-Area {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
      position: absolute;
      justify-content: flex-start;
      padding: 0.8rem 1.6rem 0.8rem 1.8rem;

      &-Progress {
        width: 0.6rem;
        height: 100%;
        border-radius: 2rem;
        display: flex;
        align-items: flex-end;
        margin-right: 4.6vh;
      }
    }

    &-Value {
      width: 100%;
      padding-top: 0.6rem;
      border-bottom: 0.15rem solid #ebebeb;
      z-index: -1;

      & > p {
        font-size: 0.7rem;
        font-weight: 200;
        color: #c8c8c8;
      }
    }
  }
}
